@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
	font-family: PetShopFont;
	src: url("../fonts/Baloo-Regular.ttf");
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}


body {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-llp: #EE4997;
	--color-blue: lightblue;
	--footer-bgcolor: #0D294F;
	--lps-plain-text: "Nunito"; 

}


a  {
	text-decoration: none;
}

li  {
	list-style-type: none;
}


p, h2 {
	font-family: var(--lps-plain-text);
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header nav {
	display: flex;
	width: 100%;
	background-color: white;

	/* Lijnt alle children (items in de nav) horizontaal uit */
	align-items: center;


}

header nav a:first-of-type {
	width: 30%;
	display: inline-flex;
	margin-left: 1rem;
	margin-right: auto;
}


header nav a:nth-of-type(1) img {
	width: 100%;
}

header nav a:nth-of-type(2) {
	color: var(--color-llp);
	padding: .5rem;
	border-radius: .5rem;
	border: solid var(--color-llp) 1px;

}

header nav button {
	aspect-ratio: 1/1;
	width: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: .5rem;
	background-color: transparent;
	border: none;
	margin: 0 1rem;
}

header nav button span {
	display: block;
	width: 55%;
	height: 2px;
	background-color: var(--color-llp);
}

  

/* Main */
/* hulp van studentassistent*/
  
  div h1 {
	position: absolute;
	font-family: (PetShopFont);
  }
  
  /* bron van https://cssgradient.io/*/

  div h1:nth-of-type(1) {
	color: white;
	-webkit-text-stroke: .4rem rgb(23, 26, 79); /* buitenlijn kleur */
 font-family: PetShopFont;
}
 /* bron van https://cssgradient.io/*/
  
  div h1:nth-of-type(2) {
	color: white; /* tekst kleur */
	font-family: PetShopFont;
 }
/* hulp van studentassistent*/


main h2:first-of-type{
	font-family: ();
	color: rgb(23, 26, 79);
}



main section:nth-of-type(1) {
	background: rgb(2,0,36);
	background: linear-gradient(-90deg, #0974B7 0%, #80C0DD 100%);
		padding: 2rem;
}


main section:nth-of-type(1) div {
	top: 0;
}

main section:nth-of-type(1) p {
	margin-top: 3rem;
}

main article {
	width: 100%;
}

main section:nth-of-type(3) img{
	width:80%;
}
/* Anouk heeft me heel lief geholpen met dit stuk*/
main section:nth-of-type(3) ul{
	padding: 0;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	gap:20px;
	align-items: center;
}
/* Anouk heeft me heel lief geholpen met dit stuk*/

main section:nth-of-type(3) ul li {
	display: flex;
	flex-direction: column;
	gap: 0;
	height: 15rem;
}



main section:nth-of-type(3) ul li a {
	margin-top: auto;
}

li {
	/* om de p's en buttons onder elkaar en in het midden van de sections te positioneren */
	display:grid;
	place-content:center;
	gap:1em;
  }
  
  li p {
	width:10em;
	margin:0;
	padding:.5em;
	
	text-align:center;
  }

main section:nth-of-type(3) ul li a:first-of-type{
	background-color: #EE4997;
	border-radius: 2em;
	padding: 0.3em;
	color: white;
	text-align: center;
}

footer {

	background-color: var(--footer-bgcolor);
	margin-top: 2rem;;
}